{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "cursorOffset": 0,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "parser": "typescript",
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "useTabs": false
}
